--DROP TABLE [zz_Security_Metrix]
/****** Object:  Table [dbo].[zz_Security_Metrix]    Script Date: 05/31/2013 11:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[zz_Security_Metrix](
	[Function_Name] [varchar](255) NULL,
	[Planner] [int] NULL,
	[Senior Management] [int] NULL,
	[System Administration] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[zz_Security_Metrix] ([Function_Name], [Planner], [Senior Management], [System Administration]) VALUES (N'Activity', 0, 1, 3)
INSERT [dbo].[zz_Security_Metrix] ([Function_Name], [Planner], [Senior Management], [System Administration]) VALUES (N'Agreement Documentation', 0, 1, 3)
INSERT [dbo].[zz_Security_Metrix] ([Function_Name], [Planner], [Senior Management], [System Administration]) VALUES (N'Equipment Contract Details', 0, 1, 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
