USE [isipl_AMT_Smaldeel]
GO
/****** Object:  Table [dbo].[zzAJ_CBMDel]    Script Date: 11/29/2012 09:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[zzAJ_CBMDel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Element_Code] [varchar](50) NULL,
	[Element_Description] [varchar](50) NULL,
	[Element_UOM] [varchar](50) NULL,
	[Lower_Normal_Level] [varchar](50) NULL,
	[Uppper_Normal_Level] [varchar](50) NULL,
	[Measurement_Type_Code] [varchar](50) NULL,
	[Measurement_Type_Description] [varchar](50) NULL,
	[Compartment] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
	[Component_Code] [varchar](50) NULL,
	[Workorder_Measurement] [nchar](10) NULL,
 CONSTRAINT [PK_zzAJ_CBMDel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[zzAJ_CBMDel] ON
INSERT [dbo].[zzAJ_CBMDel] ([ID], [Element_Code], [Element_Description], [Element_UOM], [Lower_Normal_Level], [Uppper_Normal_Level], [Measurement_Type_Code], [Measurement_Type_Description], [Compartment], [Category], [Component_Code], [Workorder_Measurement]) VALUES (1, N'AL-ENG', N'Aluminum', N'Ppm', N'Lover', N'999', N'LAB TEST', N'Engine Oil', N'Engine', N'SOS', N'', N'TRUE      ')
INSERT [dbo].[zzAJ_CBMDel] ([ID], [Element_Code], [Element_Description], [Element_UOM], [Lower_Normal_Level], [Uppper_Normal_Level], [Measurement_Type_Code], [Measurement_Type_Description], [Compartment], [Category], [Component_Code], [Workorder_Measurement]) VALUES (2, N'CR-ENG', N'Chromium', N'Ppm', N'0', N'999', N'LAB TEST', N'Engine oil', N'ENGINE', N'SOS', N'', N'TRUE      ')
INSERT [dbo].[zzAJ_CBMDel] ([ID], [Element_Code], [Element_Description], [Element_UOM], [Lower_Normal_Level], [Uppper_Normal_Level], [Measurement_Type_Code], [Measurement_Type_Description], [Compartment], [Category], [Component_Code], [Workorder_Measurement]) VALUES (3, N'CU-ENG', N'Copper', N'Ppm', N'0', N'999', N'LAB TEST', N'Engine oil', N'Engine', N'SOS', N'', N'TRUE      ')
SET IDENTITY_INSERT [dbo].[zzAJ_CBMDel] OFF
